In [6]:
import sys
sys.path.append("..")

from data_normalization import data_normalization
df = data_normalization("../data/personality_dataset.csv")

df.head()

                      statistikkvariabel  region  kjønn  alder    år  antall
0   4.0,No,4.0,6.0,No,13.0,5.0,Extrovert     NaN    NaN    NaN  2011     NaN
1  9.0,Yes,0.0,0.0,Yes,0.0,3.0,Introvert     NaN    NaN    NaN  2011     NaN
2  9.0,Yes,1.0,2.0,Yes,5.0,2.0,Introvert     NaN    NaN    NaN  2011     NaN
3   0.0,No,6.0,7.0,No,14.0,8.0,Extrovert     NaN    NaN    NaN  2011     NaN
4    3.0,No,9.0,4.0,No,8.0,5.0,Extrovert     NaN    NaN    NaN  2011     NaN